<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav-drawer" mode="push">
    <mat-list (click)="drawer.close()">
      <mat-list-item matRipple routerLink="/posts" routerLinkActive="active">Posts</mat-list-item>
      <mat-list-item matRipple routerLink="/users" routerLinkActive="active">Users</mat-list-item>
      <mat-list-item matRipple routerLink="/favorites" routerLinkActive="active">Favorites</mat-list-item>
      <mat-list-item matRipple routerLink="/material" routerLinkActive="active">Material</mat-list-item>
    </mat-list>

  </mat-drawer>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Maja Blog</span>
    <span class="nav-spacer"></span>
    <button title="Info" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>info</mat-icon>
    </button>

    <!-- <mat-select (click)="changeLanguage($event.target.value)">
      <mat-option value="en">English</mat-option>
      <mat-option value="mk">Македонски</mat-option>
    </mat-select> -->



  </mat-toolbar>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
