h2 {
  margin-left: 10px;
}

:host ::ng-deep {
  & .mat-card-header-text {
    margin: 0;
  }
}

.posts {



  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;


  & .mat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & .card-column {
    margin-top: 16px;
  }

  & .mat-card-header .mat-card-title {
    &:hover {
      cursor: pointer;
    }
  }

  & .mat-card-subtitle {
    display: flex;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
  }

  & .post-card {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;


    & .mat-card-content {

      & p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  & .mat-card-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0 !important;
  }
}

.posts.isFavorites,
.posts.isUser {
  margin-bottom: 50px;
}
