<div class="container post-container">
  <div class="posts">
      <mat-card class="post-card" *ngFor="let post of posts; index as i; ">
      <mat-card-header>
        <mat-card-title [routerLink]="['/posts', post.id]">{{post.title}}</mat-card-title>
      </mat-card-header>
      <div class="card-column">
        <img mat-card-image src="{{photos[i]?.url}}">
        <mat-card-content>
          <p>
            {{post.body}}...
          </p>
          <mat-card-subtitle routerLink="/users/{{post.userId}}">
            <mat-icon>person</mat-icon>
            {{users[post.userId - 1]?.name}}
          </mat-card-subtitle>
        </mat-card-content>
        <mat-card-actions>
          <app-favorite-post [postid]="post.id"></app-favorite-post>
          <button mat-stroked-button [routerLink]="['/posts', post.id]">READ MORE</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>

  <app-pagination *ngIf="onInitializePosts"
    [total]="postTotal"
    (onPageChange)="changePage($event)"></app-pagination>
</div>
