.user-container {

  width: 70%;
  margin-left: auto;
  margin-right: auto;

  .flex-box {
    display: flex;
    justify-content: flex-start;

    & .col {
      margin-left: 3rem;

      & .mat-icon {
        margin-left: -50px;
        font-size: 200px;
        height: 200px;
        width: 150px;
      }

      & .name {
        font-weight: bold;
        font-size: large;

      }

      & .username {
        color: rgb(255, 64, 129);
        font-size: medium;
        // text
      }

      & .address,
      .company,
      .email {
        display: flex;
        align-items: center;
        color: rgb(97, 96, 96);
        font-size: 1rem;

        & .mat-icon {
          margin: 0;
          font-size: medium;
          height: auto;
          width: auto;
          margin-right: 1rem;
        }
      }

      & .website{
        color: rgb(127, 127, 233);
      }

    }
  }
}
