<div class="blog">
  <div class="container">
    <h1>Maja Blog</h1>
    <p>Maja is a new Frontend Developer who joined the VorteksED Team. You will see the power of Maja which will change the future mindset of every developer.</p>

    <b>Guys, look at the unit tests of the web application</b>
    <br>
    <b>Clap clap, it's 100%...</b>

    <img width="100%" src="assets/img/unit_tests.png" alt="">

    <p> All the users/posts/comments/images are from <a href="https://jsonplaceholder.typicode.com/">JSON Placeholder</a></p>

  </div>
</div>